<div class="container home-page-container shadow-sm">
<div class="page-title"><h1>Home</h1></div>
<div class="card-body">
<h3 class="home-header">Welcome to the Amazing Amazon Project.</h3>
<div class="home-image" ><%= image_tag "Roo.PNG", class: "roo"%></div>
</div>
</div>