<div class="container">
<div class="page-title"></div>
<div class="card mb-4">
<div class="card-body">
<h1>
  Thank You, <strong><%= @full_name %></strong>, for getting in touch!
</h1>
<p>
  <strong>Your messsage was:</strong>
  <em><%= @message %>
</p>

<p>
  We'll email you at <%= @email %> shortly.
</p>
</div>
</div>
</div>